pip install flask
pip install opencv-python
pip install Pillow
pip install facenet-pytorch
pip install scikit-learn
pip install pandas
pip install flask-jwt-extended
pip install keras
pip install tensorflow
pip install Flask-Mail
pip install mysql.connector
pip install mysql-connector-python
pip install flask-cors
pip install openpyxl